/* :root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-title-color: #212121;
  --contrast-title-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;

  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
} */

/* .container.main {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* Логотип */
/* .logo {
  margin-right: 85px;

  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
} */

/* .header-logo {
  color: #000000;
}

.footer-logo {
  color: #ffffff;
} */

/* Шапка сайта */
/* .header,
.navigation,
.site-nav,
.contacts {
  display: flex;
  align-items: center;
} */

/* .contacts {
  margin-left: auto;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
} */

/* .site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
} */

/* .contacts-item + .contacts-item {
  margin-left: 30px;
} */

/* .link {
  color: var(--primary-title-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic-function);
} */

/* .site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.site-nav .curent,
.logo > :hover,
.logo > :focus {
  color: var(--accent-color);
} */

/* .curent::after {
  content: '';
  display: block;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
} */

/* .contacts .link {
  display: inline-flex;
  color: var(--primary-text-color);
  align-items: center;
}

.contacts-item {
  display: inline-flex;
  align-items: center;
} */

/* .cotacts-icon {
  margin-right: 10px;
  fill: currentColor;
} */

/* 
  Основной контент страницы Студия 
*/

/* Герой */
/* .hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  outline: 1px solid black;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.contrast-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--contrast-title-color);

  text-align: center;
  text-transform: uppercase;
}

.hero-title {
  width: 630px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
} */

/* button.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;

  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--contrast-title-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
} */

/* Особенности */
/* .feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  width: calc((100% - 3 * 30px) / 4);
} */
/* 
.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--secondary-background-color);
}

.features .primary-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.primary-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features .text {
  margin: 0;
} */

/* Чем мы занимаемся */
/* .activity .container {
  padding-bottom: 94px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
} */

/* .box {
  position: relative;
}

.activity-link {
  display: block;
  height: 294px;
}

.activity .contrast-title {
  position: absolute;
  bottom: 0;

  padding: 27px 82px;

  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
} */

/* Наша команда */
/* .team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
} */
/* 
.team-item {
  background-color: var(--contrast-title-color);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
} */
/* 
.photo {
  display: block;
} */

/* .member-profile {
  padding: 30px 32px 24px;
}

.team .member {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
} */

/* .profession {
  margin-top: 0;
  margin-bottom: 16px;
} */

/* .social-links-list {
  display: flex;
  justify-content: center;
}

.social-links-item + .social-links-item {
  margin-left: 10px;
} */
/* 
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border: 1px solid transparent;
  border-radius: 50%;

  color: var(--icon-color);
  background-color: inherit;
  fill: currentColor;

  transition: color 250ms var(--cubic-function),
    background-color 250ms var(--cubic-function);
}

.social-links:hover,
.social-links:focus {
  color: var(--contrast-title-color);
  background-color: var(--accent-color);
} */

/* Постоянные клиенты */
/* .clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  color: var(--icon-color);
  fill: currentColor;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: color 250ms var(--cubic-function),
    border 250ms var(--cubic-function);
}

.clients-icon:hover,
.clients-icon:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
} */

/* Модальное окно */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--cubic-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 581px;
  min-width: 528px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: transform 250ms var(--cubic-function);
} */

/* .close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--contrast-title-color);

  cursor: pointer;
} */

/* .icon-modal {
  color: #000000;
  fill: currentColor;
  transition: color 250ms var(--cubic-function);
} */

/* .close-button:hover .icon-modal,
.close-button:focus-within .icon-modal {
  color: var(--accent-color);
} */

/* .modal-title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primary-title-color);
}

.modal-item {
  margin-bottom: 28px;
} */

/* .form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-input {
  padding: 12px 16px 12px 42px;

  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);

  transition: borger-color 250ms var(--cubic-function);
    
  cursor: pointer;
}

.form-field:focus-within .form-input {
  border-color: var(--accent-color);
  outline: none;
}

.form-label {
  position: absolute;
  top: 50%;
  transform: translate(42px, -50%);
  
  color: var(--primary-text-color);

  transition: color 250ms var(--cubic-function),
    transform 250ms var(--cubic-function);
}

.form-field:focus-within .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(16px, -40px);
  color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translate(16px, -50%);

  width: 18px;
  height: 18px;

  color: var(--primary-title-color);
  fill: currentColor;

  transition: color 250ms var(--cubic-function);
}

.form-field:focus-within .form-icon {
  color: var(--accent-color);
} */

/* .comment-field {
  margin-bottom: 20px;
}

.comment {
  resize: none;
  padding-right: 16px;

  height: 120px;
}

.comment-label {
  position: absolute;
  transform: translate(16px, 12px);
  
  color: var(--primary-text-color);

  transition: color 250ms var(--cubic-function),
    transform 250ms var(--cubic-function);
}

.form-field:focus-within .comment-label,
.comment:not(:placeholder-shown) + .comment-label {
  transform: translate(16px, -22px);
  color: var(--accent-color);
} */

/* .checkbox-field {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label::before {
  content: '';
  margin-right: 7px;

  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-title-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.focus-box:focus-within .checkbox-label::before {
  border-radius: 2px;
  box-shadow: 0 0 0 2px var(--accent-color);
}

.checkbox:checked:focus + .checkbox-label::before {
  box-shadow: 0 0 0 2px var(--primary-title-color);
}

.link-agreement {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  
  color: var(--accent-color);
}

.link-agreement::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 5px;
  width: 100%;
 
  border-top: 1px solid var(--accent-color);
} */

/* Подвал */
.footer {
  background-color: #2f303a;
  color: var(--contrast-title-color);
}

.flex-container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  display: flex;
  flex-direction: column;
  margin-right: 69px;

  font-style: normal;
}

.social {
  margin-right: 94px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer .link {
  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  line-height: 1.71;

  transition: color 250ms var(--cubic-function);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;
}

.social .social-links {
  margin-top: 0;

  color: var(--contrast-title-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms var(--cubic-function),
    background-color 250ms var(--cubic-function);
}

.social-links-list .social-links:hover,
.social-links-list .social-links:focus {
  color: var(--contrast-title-color);
  background-color: var(--accent-color);
}

.subscribe {
  display: flex;
}

.subscribe-input {
  width: 358px;
  padding: 15px 0 15px 16px;

  color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: inherit;
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.mailing .btn {
  margin-left: 12px;
  margin-right: 0;
}

.icon-send {
  margin-left: 10px;
  fill: var(--contrast-title-color);
}

/* 
Основной контент страницы Портфолио 
*/

/* .page-header {
  border-bottom: 1px solid #ececec;
} */

/* .portfolio .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filters-item {
  display: inline-block;
} */

.button,
.portfolio .link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.portfolio .link {
  display: block;
}

/* .button-label {
  display: inline-block;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  color: var(--primary-title-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;

  transition: color 250ms var(--cubic-function),
    background-color 250ms var(--cubic-function),
    box-shadow 250ms var(--cubic-function);
} */

/* .click:checked + .button-label,
.filters-item:hover .button-label,
.filters-item:focus .button-label {
  color: var(--contrast-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filters-item + .filters-item {
  margin-left: 8px;
} */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc((100% - 2 * 30px) / 3);
  box-shadow: none;

  transition: box-shadow 250ms var(--cubic-function);
}

.card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card:hover,
.card:focus-within {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio .link {
  color: var(--primary-text-color);

  font-weight: 400;
  line-height: 1.88;
}

.image-description {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.list-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--primary-title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description {
  margin: 0;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic-function);
}

.card:hover .overlay,
.card:focus-within .overlay {
  transform: translateY(0);
}

.alt-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0px 24px;
  margin: 0;
  width: 100%;

  color: var(--contrast-title-color);

  font-size: 18px;
  line-height: 1.56;
}
